/*
gini-path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis gini-path {
  stroke: lightgrey;
}

.axis gini-line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

 Income chart style

linechartpath { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis linechartpath {
  stroke: lightgrey;
}

.axis linechartline {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
*/


/* Gini chart */
#chart1a path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
  
#chart1a .axis path {
 stroke: lightgrey;
}

#chart1a .axis line {
 stroke: lightgrey;
 stroke-width: 1;
 shape-rendering: crispEdges;
}