.wrapper {
  width: 100%;
  height: 600px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  position: absolute;
  border-bottom: 1px solid #ebecec;
  left: 0;
  top: 60px;
}

.left-side {
  width: 560px;
  height: 100%;
  margin: 0;
  border-right: 1px solid #ebecec;
  float: left;
  padding: 0;
  display: inline-block;
}

.entity-title {
  height: 65px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.entity-title h1 {
  font-size: 1.4em;
  color: #0098d8;
  margin: 10px 0px 10px 0;
  text-align: center;
}

.map {
  width: 100%;
  margin: 0 auto;
  display: inline;
  float: right;
}

.map svg {
  z-index: -1;
}

.map select {
  position: relative;
  top: 10px;
  z-index: 10;
}

.panels {
  float: left;
  height: 100%;
  width: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.entity-panel {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-right: 1px solid #ebecec;
}

#intro {
  visibility: visible;
  float: left;
}

#panel-left {
  visibility: hidden;
  float: left;
}

#panel-right {
  visibility: hidden;
  border-left: 1px solid #ebecec;
}

.panel-header {
  width: 100%;
  text-align: right;
  margin: 0;
}

.panel-close {
  /* border: 1px solid #ebecec; */
  width: 100%;
  color: #9d9d9d;
  position: relative;
  margin: 0;
  padding: 1px 5px;
  height: 25px;
  float: right;
  text-align: right;
}

.entity-panel h1 {
  font-size: 1.4em;
  color: #0098d8;
  margin: 10px 0px 10px 0;
  text-align: center;
}

.entity-panel h2 {
  font-size: 1em;
  color: #9d9d9d;
  margin: 0px 0 5px 0;
  text-align: center;
}

.chart {
  width: 280px;
  background-color: #fff;
  height: 240px;
  margin: 0 auto;
  padding: 0;
}

#chart1a {
  display: block;
  background-color: gray;
}

#chart2a {
  display: none;
  background-color: red;
}

#chart3a {
  display: none;
  background-color: green;
}

#chart4a {
  display: none;
  background-color: blue;
}

.compare {
  margin: 20px auto;
  text-align: center;
}

.compare button {
  color: #0098d8;
  font-size: 0.8em;
  background-color: #fff;
  border: 1px solid #0098d8;
  border-radius: 7px;
}

.compare button:hover {
  background-color: #0098d8;
  color: #ebecec;
}

.compare-button {
}

.footer {
  display: block;
  width: 100%;
  background-color: green;
  height: 80px;  
}