#data1 {
  width: 200px;
  height: 200px;
} 
#viz1 {
  width: 150px;
  height: 150px;
}

#viz2 {
  width: 150px;
  height: 150px; 
}

#viz3 {
  width: 150px;
  height: 150px; 
}

#viz4 {
  width: 150px;
  height: 150px; 
}

* {
	font-family: Sintony;
}

h1 {

}

h2 {
 	font-size: 2em;
  color:#333;
}

h3 {
  font-size: 12px;
}

#info {
  visibility: hidden;
 	position: absolute;
 	background-color: #fff;
 	top: 835px;
 	left: 700px;
 	width: 500px;
 	height: 700px;
 	/*border-left: 1px solid #0098d8;*/
 	padding: 10px;
}

#info h3 {
  font-size: 1em;
}
#info2 {
	/* visibility: none; */
}

/* ************ */
/* Chart styles */
/* ************ */
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

/* ********** */
/* Map styles */
/* ********** */
.country.c1 { fill: #eff3ff; }
.country.c2 { fill: #bdd7e7; }
.country.c3 { fill: #6baed6; }
.country.c4 { fill: #3182bd; }
.country.c5 { fill: #08519c; }

.country-boundary {
	fill: none;
	stroke: #ccc;
	stroke-width: 0.1;
	stroke-linejoin: round;
}

.country-label {
	fill: #666;
	fill-opacity: .5;
	font-size: 12px;
	font-weight: 300;
	text-anchor: middle;
}

.country:hover {
	fill: #fd8d3c;
}

.city {
  fill: #444;
}

.city-label {
	fill: #444;
  /* visibility: hidden; */
}

/* .states {
	fill: #e5e5e5;
	stroke: #fff;
	stroke-width:2px;
} */

text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4px;
}

text:hover {
  color: #fff;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ddc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Income chart style */

linechartpath { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis linechartpath {
  stroke: lightgrey;
}

.axis linechartline {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.intro {
  width: 100%;
  background-color: #000;
  height: 800px;
  background-image: url("../img/intro.png");
  background-size:contain;
}

.footer {
  width: 100%;
  background-color: #000;
  height: 80px;  
}

div.tooltip {
    position: absolute; /*very important*/
    text-align: left;    
    padding: 5px 10px 5px 10px;
    font: bold 11px sans-serif;
    color: black;
    background: yellow;
    border-radius: 8px;  
    pointer-events: none;
