.wrapper {
  width: 100%;
  height: 640px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  left: 0;
  top: 60px;
}

.map {
  width: 60%;
  margin: 0 auto;
  display: inline;
}

.panels {
  width: 35%;
  float: right;
  height: 640px;
  display: block;
  padding: 0;
}

.entity-panel {
  width: 50%;
  height: 640px;
  margin: 0;
  padding: 0;
  display: block;
  border-left: 1px solid #ebecec;
}

.entity-panel h1 {
  font-size: 1.4em;
  color: #0098d8;
  margin: 10px 0px 10px 0;
  text-align: center;
}

.entity-panel h2 {
  font-size: 1em;
  color: #9d9d9d;
  margin: 15px 0 5px 0;
  text-align: center;
}

#panel-left {
  float: left;
  visibility: hidden;
}

#panel-right {
  float: right;
  visibility: hidden;
}

.chart {
  width: 100%;
  background-color: #fff;
  height: 140px;
  margin: 0;
  padding: 0;
}

.compare {
  margin: 20px auto;
  text-align: center;
}

.compare button {
  color: #0098d8;
  width: 150px;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #0098d8;
  border-radius: 7px;
}

.compare button:hover {
  background-color: #0098d8;
  color: #ebecec;
}

.compare-button {
}

.footer {
  width: 100%;
  background-color: green;
  height: 80px;  
}