<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */
 
body { font: 12px Arial;}
 
path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path {
	stroke: lightgrey;
}

.axis line {
	fill: none;
	stroke: lightgrey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

</style>
<body>
 
<!-- load the d3.js library -->	
<script src="d3.v3.min.js"></script>
 
<script>

	var	margin = {top: 30, right: 150, bottom: 30, left: 50},
	width = 450 - margin.left - margin.right,
	height = 200 - margin.top - margin.bottom;
 
	// Parse the date / time
	var	parseDate = d3.time.format("%Y").parse;

	// Set the ranges
	var	x = d3.time.scale().range([0, width]);
	var	y = d3.scale.linear().range([height, 0]);
	 
	// Define the axes
	var	xAxis = d3.svg.axis().scale(x)
		.orient("bottom");
	 
	var	yAxis = d3.svg.axis().scale(y)
		.orient("left").ticks(6);

	// Define the line
	var	valueline = d3.svg.line()
		.x(function(d) { return x(d["year"]); })
		.y(function(d) { return y(d["gini"]); });

	// Adds the svg canvas
	var	svg = d3.select("#viz1")
		.append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	// Get the data
	data.forEach(function(d) {
		d.year = parseDate(d["year"]);
		d.gini = +d["gini"];
	});

	datanacional.forEach(function(d) {
		d.year = parseDate(d["year"]);
		d.gini = +d["gini"];
	});
	

	// Scale the range of the data
	x.domain([d3.time.year.offset(d3.min(data, function(d) { return d["year"]; }),-1),d3.time.year.offset(d3.max(data, function(d) { return d["year"]; }),+0)]);
	//Deje el offset para el top value para que no sea dificil modificarlo al gusto.
	y.domain([0, 0.60000001]);
	//Se pone ese .0000001 para que muestre el label de ese tick

	xAxis.tickValues(data.map(function(d){return d["year"];}));

	// Add the X Axis
	svg.append("g")		
		.attr("class", "x axis")
		.attr("transform", "translate(0," + height + ")")
		.call(xAxis);

	svg.append("text")
	    .attr("class", "x label")
	    .attr("text-anchor", "end")
	    .attr("x", width)
	    .attr("y", height - 6)
	    .text("Año");

	// Add the Y Axis
	svg.append("g")		
		.attr("class", "y axis")
		.call(yAxis);

	// Add the valueline path. El path es inevitable, pero no el tipo.
	svg.append("path")	
		.attr("class", "linegini")
		.attr("d", valueline(data));

	svg.append("path")	
		.attr("class", "linegini_nacional")
		.attr("d", valueline(datanacional));

	//svg.select('linechartline').style({ 'stroke-width': '0px'});

	var tooltip = d3.select("body")
    	.append("div")
    	.attr("class", "tooltip")
		.style("opacity", 0);

	var dataCirclesGroup = svg.append('svg:g');
	var circles = dataCirclesGroup.selectAll('.data-point')
				.data(data);

	circles
		.enter()
		.append('svg:circle')
		
		.attr('class', 'dot')
		.attr('fill', function() { return "steelblue"; })
		.attr('cx', function(d) { return x(d["year"]); })
		.attr('cy', function(d) { return y(d["gini"]); })
		.attr('r', function() { return 3; })
		.on("mouseover", function(d) {
			d3.select(this)
				.attr("r", 8)
				.attr("class", "dot-selected")
				.transition()
  				.duration(750);
  			d3.select(this)
  				.append('svg:title')
  				.text(function(d) {
					return d.gini;
				});
			return tooltip.style("visibility", "visible");	
		})
		.on("mouseout", function(d) {
				d3.select(this)
				.attr("r", 3)
				.attr("class", "dot")
				.transition()
  					.duration(750);
		});

	//pintar bolitas nacionales

	var dataCirclesGroup = svg.append('svg:g');
	var circles = dataCirclesGroup.selectAll('.data-point')
				.data(datanacional);

	circles
		.enter()
		.append('svg:circle')
		
		.attr('class', 'dot')
		.attr('fill', function() { return "lightblue"; })
		.attr('cx', function(d) { return x(d["year"]); })
		.attr('cy', function(d) { return y(d["gini"]); })
		.attr('r', function() { return 3; })
		.on("mouseover", function(d) {
			d3.select(this)
				.attr("r", 8)
				.attr("class", "dot-selected")
				.transition()
  				.duration(750);
  			d3.select(this)
  				.append('svg:title')
  				.text(function(d) {
					return d.gini;
				});
			return tooltip.style("visibility", "visible");	
		})
		.on("mouseout", function(d) {
				d3.select(this)
				.attr("r", 3)
				.attr("class", "dot")
				.transition()
  					.duration(750);
		});

	// empiezan labels

	
    svg.append('text')
        .attr('fill', 'black')
        .attr('x', 1.07*width+20*1.2)
        .attr('y', height/4 + 14)
        .text("Local")
        .style("font-family","sans-serif")
        .style("font-size","14px");
    svg.append('rect')
        .attr('fill', "steelblue")
        .attr('width', 20)
        .attr('height', 20)
        .attr('x', 1.07*width)
        .attr('y', height/4);

    svg.append('text')
        .attr('fill', 'black')
        .attr('x', 1.07*width+20*1.2)
        .attr('y', height/4 + 14 + 20*1.5)
        .text("Nacional")
        .style("font-family","sans-serif")
        .style("font-size","14px");
    svg.append('rect')
        .attr('fill', "lightblue")
        .attr('width', 20)
        .attr('height', 20)
        .attr('x', 1.07*width)
        .attr('y', height/4 + 20*1.5);

</script>
</body>